In [1]:
import pandas as pd

In [3]:
print(pd.__version__)

1.4.2

In [6]:
x = [10, 45, 80]

pd.Series(x)

0    10
1    45
2    80
dtype: int64

In [10]:
x = [10, 45, 80]

pd.Series(x, index=['x', 'y', 'z'])

x    10
y    45
z    80
dtype: int64

In [15]:
x = {"day1":10, "day2":20, "day3":30}

pd.Series(x)

day1    10
day2    20
day3    30
dtype: int64

In [26]:
x = {
    "krishna":[10, 50, 60],
    "kanhaiya":[30, 60, 45]
}

y = pd.DataFrame(x)
print(y)

   krishna  kanhaiya
0       10        30
1       50        60
2       60        45

In [31]:
x = {
    "krishna":[10, 50, 60],
    "kanhaiya":[30, 60, 45]
}

y = pd.DataFrame(x)

print(y.loc[0])

krishna     10
kanhaiya    30
Name: 0, dtype: int64

In [35]:
x = {
    "krishna":[10, 50, 60],
    "kanhaiya":[30, 60, 45]
}

pd.DataFrame(x, index = ["day1", "day2", "day3"])

      krishna  kanhaiya
day1       10        30
day2       50        60
day3       60        45

In [36]:
x = {
    "krishna":[10, 50, 60],
    "kanhaiya":[30, 60, 45]
}

y = pd.DataFrame(x, index = ["day1", "day2", "day3"])

print(y.loc["day2"])

krishna     50
kanhaiya    60
Name: day2, dtype: int64

In [41]:
x = pd.read_csv("C:/Users/krishnak\Downloads\testing-data.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (539344004.py, line 1)