In [112]:
# String Formating
x = 'Krishna Kanhaiya'

print("My name is {} \nand my age is {}".format(x, 28))
print('\n')
print("My age is {1} and my name is {0}".format(x, 28))

My name is Krishna Kanhaiya
and my age is 28


My age is 28 and my name is Krishna Kanhaiya

In [100]:
# String Method
x = ' Krishna Kanhaiya '

print(len(x))
print(x.upper())
print(x.lower())
print(x.strip()+' - remove white space')
print(x.replace(' ', '-'))
print(x.split(' '))

18
 KRISHNA KANHAIYA
 krishna kanhaiya
Krishna Kanhaiya - remove white space
-Krishna-Kanhaiya-
['', 'Krishna', 'Kanhaiya', '']

In [73]:
# String Slicing
x = 'Krishna'

print(x[2:])
print(x[2:4])
print(x[:4])
print(x[:-1])
print(x[-1:])

ishna
is
Kris
Krishn
a

In [72]:
# String
print('Krishna')

x = 'Krishna'
print(x)
print(x[0])
print(len(x))

print('-------')
for y in x:
    print(y)

Krishna
Krishna
K
7
-------
K
r
i
s
h
n
a

In [ ]:
# Data Type (3)

In [52]:
# Data Type (2)

# List (Array)
x = ['Krishna', 'Kanhaiya', 28]
print(type(x))

# Tuple
x = ('Krishna', 'Kanhaiya', 28)
print(type(x))

# Dict
x = {'name':'Krishna', 'age':28}
print(type(x))

# Set
x = {'Krishna', 'Kanhaiya', 28}
print(type(x))

# Range
x = range(6)
print(type(x))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'range'>

In [45]:
# Data Type (1)

# Str
x = 'Krishna'
print("Str")
print(type(x))

# Int
x = 10
print("Int")
print(type(x))

# Float
x = 10.5
print("Str")
print(type(x))

# Complex
x = 10j
print("Complex")
print(type(x))

Str
<class 'str'>
Int
<class 'int'>
Str
<class 'float'>
Complex
<class 'complex'>

In [34]:
# Global Veriable
# 1.----------
name = 'Krishna'

def firstFunction():
    print("My name is " + name)
    
firstFunction()

# 2.----------
def secondFunction():
    name = 'Krishna'
    print("My name is " + name)
    
secondFunction()

# 3.----------
def thirdFunction():
    global fullName
    fullName = 'Krishna'
    print("My name is " + name)
    
thirdFunction()

print(fullName)

My name is Krishna
My name is Krishna
My name is Krishna
Krishna

In [27]:
one = 10
two = "10"
print(one+two) # Its given error because Integer + String

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
x = 10
y = 15
print(x+y)

25

In [19]:
firstName = 'Krishna'
lastName = 'Kanhaiya'

print(firstName, lastName)

Krishna Kanhaiya

In [17]:
name,age,height = 'Krishna', 28, 5.4
print(name, age, height)

Krishna 28 5.4

In [15]:
krishna = ['Krishna', 28, 5.4]
name,age,height = krishna
print(name)
print(age)
print(height)

Krishna
28
5.4

In [14]:
name = age = height = 'Krishna Kanhaiya'
print(name)

Krishna Kanhaiya

In [12]:
name,age,height = 'Krishna', 28, 5.4
print(name)
print(age)
print(height)

Krishna
28
5.4

In [6]:
# Veriable
x = 10
name = "Krishna"

print(x)
print(name)

print(type(x))
print(type(name))

10
Krishna
<class 'int'>
<class 'str'>

In [4]:
# Comment
print('Hello World') # Display Hello World

Hello World